<div id="<%= dom_id grade %>">
  <p>
    <strong>Name:</strong>
    <%= grade.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= grade.type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= grade.value %>
  </p>

</div>
