<p style="color: green"><%= notice %></p>

<h1>Classrooms</h1>
<div class="new_btn_cont">
  <%= link_to "New classroom", new_classroom_path, class:'new_btn'  %>
</div>

<div id="classrooms">
<%= render partial: "classroom", locals: { classroom: @classrooms } %>
</div>


