<h1>Students</h1>
<div class="new_btn_cont">
  <%= link_to "New student", new_student_path, class:'new_btn' %>
</div>

<div id="students">
  <%= render partial: "student", locals: { student: @student } %>
</div>

