<h1>Editing subjectst</h1>

<%= render "form", subjectst: @subjectst %>

<br>

<div>
  <%= link_to "Show this subjectst", @subjectst %> |
  <%= link_to "Back to subjectsts", subjectsts_path %>
</div>
