<div id="<%= dom_id manage_school %>">
  <p>
    <strong>School Name:</strong>
    <%= manage_school.school_name %>
  </p>

  <p>
    <strong>Moto:</strong>
    <%= manage_school.school_motto %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= image_tag manage_school.school_logo %>
  </p>

</div>
