<div id="<%= dom_id manage_school %>">
  <p>
    <strong>Namet:</strong>
    <%= manage_school.namet %>
  </p>

  <p>
    <strong>Moto:</strong>
    <%= manage_school.moto %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= manage_school.logo %>
  </p>

</div>
