<div class = "manage_school" id="<%= dom_id manage_school %>">
  <div>
    <h1><%= manage_school.school_name %></h1>
  </div>

  <div>
    <strong>Moto:</strong>
    <%= manage_school.school_motto %>
  </div>

  <div>
    <%= image_tag manage_school.school_logo, class:'manage_school_logo' %>
  </div>


  
</div>
