<h1>Editing manage school</h1>

<%= render "form", manage_school: @manage_school %>

<br>

<div>
  <%= link_to "Show this manage school", @manage_school %> |
  <%= link_to "Back to manage schools", manage_schools_path %>
</div>
