<p style="color: green"><%= notice %></p>

<h1>Subjects</h1>
<div class="new_btn_cont">
  <%= link_to "New subject", new_subject_path, class:'new_btn' %>
</div>

<div id="subjectsts">
    <%= render partial: "subject", locals: { subject: @subject } %>
</div>

