<div id="<%= dom_id revenue %>">
  <p>
    <strong>Subject:</strong>
    <%= revenue.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= revenue.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= revenue.amount %>
  </p>

</div>
