<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= school.logo %>
  </p>

  <p>
    <strong>Moto:</strong>
    <%= school.moto %>
  </p>

</div>
