<div id="<%= dom_id fee %>">
  <p>
    <strong>Name:</strong>
    <%= fee.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= fee.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= fee.value %>
  </p>

</div>
