<div id="<%= dom_id expenditure %>">
  <p>
    <strong>Subject:</strong>
    <%= expenditure.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= expenditure.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expenditure.amount %>
  </p>

</div>
