/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
    box-sizing: border-box;
    display: flex;
    margin-left: 300px;
    padding: 0;
    width: 70%;
    background-color: #0728e0;
    font-family: sans-serif;
 }

#nav{
    /* display: block; */
    width: 20%;
    margin-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #333;
    color: white;
    height: 100%; /* Make the sidebar fill the entire height */
    position: fixed;
    left: 0;
    top: 0;
}

.menu {
    padding: 0;
    list-style: none;
  }
  
  .menu-item {
    padding: 10px;
    border-bottom: 1px solid #555;
  }
  
  .menu-item a {
    text-decoration: none;
    color: white;
    display: block;
  }
  
  .menu-subitems {
    display: none;
    padding-left: 20px;
    list-style: none;
  }
  
  .menu-parent.active .menu-subitems {
    display: block;
  }
  .arrow {
    display: inline-block;
    margin-left: 5px; /* Adjust as needed */
    transition: transform 0.3s ease; /* Add smooth transition */
  }
  
  .menu-parent.open .arrow {
    transform: rotate(90deg); /* Rotate arrow when submenu is open */
  }
  
  