/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
    display: flex;

    /* margin-left: 220px; */
    padding: 0;
    width: 70%;
    font-family: sans-serif;
    scroll-behavior:auto;
    overflow: auto;
 }

#nav{
    padding-top: 30px;
    background-color: #333;
    color: white;
    height: 100%; /* Make the sidebar fill the entire height */
    position: relative;
    left: 0;
    top: 0;    
    overflow-y: auto;
    width: 30%;
}
 /* Style the scrollbar */
 dashboard::-webkit-scrollbar {
    width: 10px; /* Adjust width as needed */
  }
  
  .dashboard::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners */
  }
  
  .dashboard::-webkit-scrollbar-thumb:hover {
    background-color: #d31010; /* Color of the thumb on hover */
  }
  
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
  }
  
  .menu-item {
    margin: 10px;
    padding: 15px;
    border-bottom: 1px solid #555;
  }
  
  .menu-item a {
    text-decoration: none;
    color: white;
    padding-left: 10px;

  }
  
  .menu-subitems {
    display: none;
    padding-left: 20px;
    list-style: none;
    padding-top: 10px;
  }

  .menu-subitems li {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    list-style: none;
    padding-top: 20px;
  }

  
  .menu-parent.active .menu-subitems {
    display: block;
  }

.menu-parent-arrow::after {
  content: "\f054"; /* Unicode for the down arrow icon */
  font-family: "Font Awesome 5 Free"; /* Replace with your Font Awesome font-family */
  font-weight: 900; /* Font weight for solid style icons */
  margin-left: 5px; /* Adjust spacing as needed */
  transition: transform 0.3s ease; /* Add smooth transition */
  display: inline-block;
  width: 10px; /* Adjust width as needed */
  vertical-align: middle; /* Align the icon vertically with the text */
}

.menu-parent.active .menu-parent-arrow::after {
  transform: rotate(90deg); /* Rotate arrow when submenu is open */
}
  
.dashboard{
    margin-left: 20px;
}