<div class="main">
  <p style="color: green"><%= notice %></p>
 
  <h1>Admissions</h1>
  <div class="new_btn_cont">
    <%= link_to "New admission", new_admission_path, class:'new_btn' %>
  </div>
  <div id="admissions">
      <%= render partial: "admission", locals: { admission: @admission } %>
  </div>
</div>
