<div class="main">
  <p style="color: green"><%= notice %></p>
  <%= link_to "New admission", new_admission_path %>
  <h1>Admissions</h1>

  <div id="admissions">
      <%= render partial: "admission", locals: { admission: @admission } %>
  </div>
</div>
