<div>
  <h1>Admission Application</h1>

  <%= render "form", admission: @admission, class:'parent_form' %>

  <br>

  <div>
    <% if staff_signed_in? %>
      <%= link_to "Back to admissions", admissions_path %>
    <% else %>
      <!-- Include other links for unauthenticated users if needed -->
    <% end %>
  </div>

</div>


