<p style="color: green"><%= notice %></p>

<h1>Attendances</h1>
<div class="new_btn_cont">
  <%= link_to "New attendance", new_attendance_path, class:'new_btn' %>
</div>

<div id="attendances">
  <%= render partial: "attendance", locals: { attendance: @attendance } %>
</div>


